{% load staticfiles %}


<html lang="en">
    <head>
      <meta charset = "utf-8">
      <meta http-equiv = "X-UA-Compatible" content = "IE=edge, chrome=1">
      <title>{% block title %}Single Point Of Truth{% endblock title %}</title>
      <meta name = "description" content = "">
      <meta name = "viewport" content = "width-device-width">

      {% block styling %}
          <!-- bootstrap -->
          <link rel = "stylesheet" href = "{% static 'css/bootstrap.min.css' %}">
          <!-- Custom Fonts -->
          <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
          <!-- Custom css -->
          <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
          <!-- favicon -->
          <link rel="shortcut icon" href="{% static 'img/favicon/stock_euro.ico' %}">
      {% endblock styling %}
    </head>

    <body>

        <div class = "navbar navbar-inverse navbar-static-top">
            <div class = "container">
                <div class = "navbar-header">
                    <a class = "navbar-brand sitename" href = "{% url 'home' %}"> Single Point Of Truth</a>
                </div>

                <ul class = "nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href = "{% url 'projects_listing' %}"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Projects</a></li>
                        <li><a href = "#"><i class="fa fa-archive" aria-hidden="true"></i> Resources</a></li>
                        <li><a href = "{% url 'user_logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    {% else %}
                        <li><a href = "{% url 'user_login' %}"><i class="fa fa-sign-in fa-fw"></i> Login</a></li>
                        <li><a href = "{% url 'registration' %}"><i class="glyphicon glyphicon-user"></i> Register</a></li>
                    {% endif%}
                </ul>
            </div>

        </div>

        <div class = "container">

            <div class="row content">
                <div class="col-lg-12 col-md-12">
                    {% if messages %}
                    <ul class="messages msg">
                        {% for message in messages %}
                        <li{% if message.tags %} class="alert alert-{% if message.tags == 'warning' %}danger{% else %}{{ message.tags }} {% endif %} "{% endif %}>
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}



                </div>
                {% block extra_header_details%}{% endblock extra_header_details%}
                {% block content%}{% endblock content%}
                <!--NOTIFICATIONS-->
                {% block notifications%}

                {% endblock notifications%}
                {% block other_info %}{% endblock other_info%}
            </div>
        </div>

        {% block javascript %}
          <script src = "{% static 'js/jquery.min.js' %}"></script>
          <script src = "{% static 'js/jquery.formset.min.js' %}"></script>
          <script src = "{% static 'js/bootstrap.min.js' %}"></script>
          <script src = "{% static 'js/script.js' %}"></script>
        {% endblock javascript%}
    </body>
</html>
