{% extends 'user_account/base.html'%}

{% block title %} {{page_title}} | {{block.super}} {% endblock title %}

{% block content %}
<div class="col-lg-12 col-md-12">
    <div class="well">
        <strong>{{page_title}}</strong>
        {% if user.is_authenticated %}
            <div>
                Coming soon
            </div>
        {% else %}
            <p>Please <a href = "{% url 'registration' %}">sign up</a> for an account.
            <br /><br />Already have an account? <a href = "{% url 'user_login' %}">login</a> to your account.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
