{% extends 'user_account/base.html'%}

{% block title %} {{page_title}} | {{block.super}} {% endblock title %}

{% block content %}
<div class="col-lg-12 col-md-12">
    <div class="well">
        <strong>{{page_title}}</strong>
        <div>
            <p>This is a simple app meant to help you keep track of the resources assigned to a project.</p>
            <p>The resources may include the following:
            <br /> - Server resources
            <br /> - Documentations
            <br /> - Hardware resources
            <br /> - Human resource etc.

            </p>
        </div>
        {% if user.is_authenticated %}
            <div>
                Create a project <a href = "{% url 'projects_listing' %}"> here</a> to begin monitoring its resources
            </div>
        {% else %}
            <p>Please <a href = "{% url 'registration' %}">sign up</a> for an account.
            <br /><br />Already have an account? <a href = "{% url 'user_login' %}">login</a> to your account.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
