{% extends 'user_account/base.html'%}

{% block title %} {{page_title}} | {{block.super}} {% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    <div class="col-lg-12 col-md-12">


        {% if projects %}
            <div class="well">
                <strong>Spot:</strong>
                <p>This is a list of all the projects whose resources are currently being tracked.
                    To add resources to a project, simply click the "pen" image on the project's column.</p>
            </div>
        	<div class="panel panel-primary">
        		<div class="panel-heading">
        			<i class="fa fa-newspaper-o" aria-hidden="true"></i> {{page_title}}
                </div>

        		<div class="panel-body">
        			<div class="row">
                        <p><a class="add-project" href="{% url 'project_registration' %}"> Add a project</a></p>
        				<div class="col-lg-12">
        					<div class="table-responsive">
        						<table class="projects table table-striped table-bordered table-condensed table-hover">
        							<thead>
        								<tr>
        									<th>Name</th>
        									<th>Description</th>
        									<th>Project Details</th>

        								</tr>
        							</thead>
        							<tbody>
        							{% for project in projects_ %}
        								<tr class="odd gradeX">

        									<td>{{ project.name }}</td>
        									{% if project.length > 15 %}
                                                <td>
                                                    {{ project.description|truncatewords:15 }}
                                                    <a href="{% url 'project_profile' project_id=project.pk %}">read more</a>
                                                </td>
                                            {% else %}
                                                <td>{{ project.description }}</td>
                                            {% endif %}
        									<td data-toggle="tooltip" data-placement="right" title='check out {{ project.name }} details' class="resource">
                                                <a href="{% url 'project_profile' project_id=project.pk %}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                                            </td>
        								</tr>
        							   {% endfor %}
        							</tbody>
        						</table>
        					</div>
        				</div>
        			</div>
        		</div>
        		<div class="panel-footer">

        		</div>
        	</div>

        {% else %}
            <div class="well">
                <strong>Spot:</strong>
                <p>No projects defined yet. Please <a href="{% url 'project_registration' %}"> create a project</a>.
            </div>


        {% endif %}
    </div>
{% else %}

    {% include 'project/not_registered.html' %}
{% endif %}
{% endblock content %}
